<!doctype html>
<html ng-app="handsome">
	<head>
		
		<style type="text/css">
			
			tr {
				margin: 0.5px;
			}
			td {
				border: red 5px solid;
				width: 200px;
				height: 200px;
				text-align: center;
				font-size: 50px;
			}
			.winning {
				background-color: pink;
				color: grey;
			}
		</style>
	</head>
	<body ng-controller="BoardCtrl">
		<h1 ng-show="board.cute" ng-cloak>{{board.winning_player}} is the game winner yeahhhhhhhhhh</h1>
		<table>
			<tr ng-repeat="row in board.grid">
				<td ng-repeat="cell in row" ng-click="board.playCell(cell)" ng-class="{'winning': cell.winning}">
					<span ng-bind="cell.player"></span>
				</td>	
			</tr>
		</table>
		<button ng-click="board.reset()">Wanna play again?</button>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>
